* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  }

  @font-face {
	font-family: "Polo";
	src: url("polo_font/polo.ttf");
	}

	input, select { font-size: 100%; }
  
  html,
  body {
	font: Polo;
	margin: 0;
	padding: 0;
	background: #fafafa;
	height: 100%;
	font-size: 16px;
  }
  
  header {
	width: 100vw;
	height: 8vh;
	background: rgb(0, 145, 187);
  }
  
  header h1 {
	font-size: 2em;
	color: #ffffff;
	/*width: 100vw;*/
	height: 10px;
	padding-left: 2vh;
	font-family: 'Polo';
	font-weight: bold;
	/*display: inline-block;*/
	text-align: center;
	float: left;
  }

  header p{
	  padding-top: 1vh;
	  color: #ffffff;
	  padding-right: 2vh;
	  float:right;
  }
  
  .content {
	width: 95vw;
	margin: 0 auto;
	padding: 0;
	
  }
  
  .content p {
	font-size: 1em;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }

  .content h3 {
	padding-bottom: 4vw;
	text-align: center;
  }

  #szenarien{
	  font-size: 1em;
	  width: 80vw;
	  margin-left: auto;
	  margin-right: auto;
	  padding-bottom: 2vw;
	  text-align: center;
	  line-height: 1.5;
  }

  #welcomeAvatar{
	  width: 140px;
	  height: 140px;
  }

  .form-check{
	  text-align: left;
	  width: 100%;
  }

  .form-group label{
	  font-weight: lighter;
  }

  .form-group label2{
	  font-size: 0.7em;
	  font-weight: lighter;
  }

  #bars {
    height: 40px;
    left: 50%;
    margin: -30px 0 0 -20px;
    position: absolute;
    top: 50%;
    width: 80px;
}

.bar {
   background: #1e6cac;
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 3px;      
    animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
    0% {
       opacity: .35;
        height: 3px; 
    }
    100% {
        opacity: 1;       
        height: 28px;        
    }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 5px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 9px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 13px; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 17px; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 21px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 25px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 29px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 33px; animation-duration: 487ms; }
.bar:nth-child(10) { left: 37px; animation-duration: 442ms; }
  
  .button-group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2vw;
	padding: 0;
  }
  
  .button-group li {
	display: block;
	width: 33%;
	padding: 0.5vw;
	list-style-type: none;
	background-color: #fff;
	text-align: center;
	color: rgb(0, 145, 187);
  }
  
  .button-group li:hover:not(.selected) {
	background-color: rgb(0, 145, 187);
	opacity: 0.9;
	cursor: pointer;
	color: #fff;
  }
  
  .button-group li.selected {
	background-color: rgb(0, 145, 187);
	color: #fff;
  }
  
  #nextButton {
	bottom: 10vh;
	color: rgb(0, 145, 187);
	float: right;
	position: absolute;
	right: 5vh;
  }
  
  #stopButton {
	background-color: red;
	color: white;
  }
  
  #microphone {
	color: rgb(0, 145, 187);
  }
  
  #waveform {
	position: relative;
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
  }
  
  #waveform span {
	display: block;
	bottom: 0px;
	width: 9px;
	height: 5px;
	background: #12a1c5;
	position: absolute;
	-webkit-animation: audio-wave 1.5s infinite ease-in-out;
	animation: audio-wave 1.5s infinite ease-in-out;
  }
  
  #waveform span:nth-child(2) {
	left: 11px;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
  }
  
  #waveform span:nth-child(3) {
	left: 22px;
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
  }
  
  #waveform span:nth-child(4) {
	left: 33px;
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
  }
  
  #waveform span:nth-child(5) {
	left: 44px;
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
  }
  
  @-webkit-keyframes audio-wave {
	0% {
	  height: 5px;
	  -webkit-transform: translateY(0px);
	  transform: translateY(0px);
	  background: #0d2594;
	}
	25% {
	  height: 40px;
	  -webkit-transform: translateY(20px);
	  transform: translateY(20px);
	  background: #0987db;
	}
  
	50% {
	  height: 5px;
	  -webkit-transform: translateY(0px);
	  transform: translateY(0px);
	  background: #0c27c2;
	}
	100% {
	  height: 5px;
	  -webkit-transform: translateY(0px);
	  transform: translateY(0px);
	  background: #49b3dd;
	}
  }
  
  @keyframes audio-wave {
	0% {
	  height: 5px;
	  -webkit-transform: translateY(0px);
	  transform: translateY(0px);
	  background: #0d2594;
	}
	25% {
	  height: 40px;
	  -webkit-transform: translateY(20px);
	  transform: translateY(20px);
	  background: #0987db;
	}
  
	50% {
	  height: 5px;
	  -webkit-transform: translateY(0px);
	  transform: translateY(0px);
	  background: #0c27c2;
	}
	100% {
	  height: 5px;
	  -webkit-transform: translateY(0px);
	  transform: translateY(0px);
	  background: #49b3dd;
	}
  }
  
  #recordButtons {
	position: fixed;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	left: 0;
	bottom: 40vw;
	width: 100%;
  }
  
  footer {
	position: fixed;
	width: 100vw;
	height: 8vh;
	background: rgb(0, 145, 187);
	bottom: 0;
  }
  
  footer img {
	padding: 2vh;
	margin: 0;
	height: 8vh;
  }

  #urLogo{
	float: right;
}

#bagLogo{
  padding: 2vh;
  margin: 0;
  height: 8vh;
}
  
  .hidden {
	display: none;
  }
  
  .container {
	border: 2px solid #dedede;
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
  }
  
  .container img {
	float: left;
	width: 17%;
	margin-right: 20px;
	border-radius: 50%;
  }
  
  
  .btn-circle {
	padding: 6px, 0px;
	text-align: center;
	border-radius: 15px !important;
	width: 6em;
	height: 6em;
  }
/*https://www.w3schools.com/howto/howto_css_modals.asp*/
  .modal {
	display: none; 
	position: fixed; 
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4);
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close1:hover,
  .close1:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }
